*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2, h3 {
    padding-top: 5px;
    text-align: center;
}

.grid{
    display: grid;
    max-width: 600px;
    margin: 5px auto auto;
    grid-gap: 5px 
}

.score{
    grid-area: score;
}

.gamefield{
    grid-area: gamefield;
}

.grid-template-areas-1{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 140px 170px;
    grid-template-areas:
    "score gamefield ."
    ". gamefield ."
    ". gamefield ."
    ". gamefield .";

}

.item {
    border: 1px solid black;
}

#score {
    padding: 1.7em;
}